<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New person belongs to classroom</h1>

  <%= render "form", person_belongs_to_classroom: @person_belongs_to_classroom %>

  <%= link_to "Back to person belongs to classrooms", person_belongs_to_classrooms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
