<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Person teach subjects</h1>
    <%= link_to "New person teach subject", new_person_teach_subject_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="person_teach_subjects" class="min-w-full">
    <%= render @person_teach_subjects %>
  </div>
</div>
