<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New person teach subject</h1>

  <%= render "form", person_teach_subject: @person_teach_subject %>

  <%= link_to "Back to person teach subjects", person_teach_subjects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
